* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    min-height: 100vh;
    background: white;
}

nav {
    display: flex;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    color: black;
}

.nav-links {
    flex: 1;
    text-align: right;
    padding-right: 30%;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: grey;
    cursor: pointer;
}

.links {
    display: inline-block;
    border: 1px solid;
    padding: 12px 30px;
    border-radius: 40px;
    font-family: arial;
    text-decoration: none;
    background-color: aqua;
    color: rgb(73, 103, 128);
}

.bx {
    padding-right: 15px;
    border: 1px solid grey;
    background: white;
    padding: 12px 20px;
    border-radius: 130%;
    color: black;
}


.text-box {
    width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
}

.text-box h1 {
    font-size: 42px;
    font-family: sans-serif;
    margin-top: 300px;
    margin-bottom: 30px;
}

.hero-btn {
    display: inline-block;
    border: 1px solid;
    padding: 12px 30px;
    border-radius: 40px;
    font-family: arial;
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;

}

.fa {
    display: none;
}


.image img {
    width: 400px;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
        font-family: sans-serif;
        margin-bottom: 20px;
    }

    .nav-links ul li {
        display: block;
        top: 15px;
    }

    .nav-links {
        position: absolute;
        backdrop-filter: blur(5px);
        background: lightgreen;
        height: 100vh;
        width: 200px;
        top: 0;
        left: 300px;
        text-align: left;
        z-index: 2;
    }

    nav.fa {
        display: block;
        color: #fff;
        margin: 10px;
    }
}